body {
  background-color: #f7e4cb;
  overflow: hidden;
  background-image: url('D:\Clase\technical-test\src\resources\mockData\images\Travelport-Logo.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right center;
}